rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // DefaultCatch-all rule
    match /{document=**} {
      allow read, write: if false;
    }

    match /sev_categories/{id} {
      allow read, write: if true;
    }
    match /sev_plans/{id} {
      allow read, write: if true;
    }
    match /sev_profiles/{id} {
      allow read, write: if true;
    }
    match /sev_clients/{id} {
      allow read, write: if true;
    }
    match /sev_providers/{id} {
      allow read, write: if true;
    }
    match /sev_subscriptions/{id} {
      allow read, write: if true;
    }
    match /sev_favorites/{id} {
      allow read, write: if true;
    }
    match /sev_requests/{id} {
      allow read, write: if true;
    }
    match /sev_bids/{id} {
      allow read, write: if true;
    }
    match /sev_payments/{id} {
      allow read, write: if true;
    }
    match /sev_reviews/{id} {
      allow read, write: if true;
    }
    match /sev_conversations/{id} {
      allow read, write: if true;
    }
    match /sev_messages/{id} {
      allow read, write: if true;
    }
    match /sev_notifications/{id} {
      allow read, write: if true;
    }
    match /sev_audit_logs/{id} {
      allow read, write: if true;
    }
    match /sev_financial_logs/{id} {
      allow read, write: if true;
    }
  }
}
